build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm upgrade divyeshtest-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ec
    configType: cypress
    configPath: wepull/election-commission/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2022-08-29T22:51:52.336Z
