build:
  type: text
  content: >-
    #!/bin/sh


    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 

    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: >
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
lastUpdatedBy: harish
lastUpdatedOn: 2022-07-22T09:56:37.760Z
