build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm upgrade demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: election-commission
    configType: cypress
    configPath: roost-io/election-commission/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZB
lastUpdatedOn: 2022-12-17T15:52:20.397Z
