build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: ec
    configType: cypress
    configPath: roost-io/election-commission/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: HARISH AGRAWAL
lastUpdatedOn: 2022-09-15T13:38:49.585Z
