build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: ''
test:
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
uninstall:
  type: text
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-11T05:37:23.196Z
