build:
  type: buildpack
  content:
    image: election-commission
    tag: $GIT_COMMIT_ID
    path: ''
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    kubectl apply -n $ROOST_NAMESPACE -f election-commission/ec.yaml
test:
  - name: ec
    configType: cypress
    configPath: service-test-suite/election-commission
uninstall:
  type: text
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-09-28T06:01:27.681Z
