build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    BALLOT_ENDPOINT="http://ballot-backend.com"
    ECSERVER_ENDPOINT="https://ecserver-backend.com"

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE},ballot_endpoint=${BALLOT_ENDPOINT},ecserver_endpoint=${ECSERVER_ENDPOINT}"


    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ec
    configType: cypress
    configPath: roost-io/election-commission/
uninstall:
  type: text
  content: ''
dockerCompose: ''
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-02T12:59:02.114Z
